/*
Verde: #5CA720
Preto: #161616
Cinza (linhas divisórias): #A5A1A1
Cinza (background do footer): #F9F9F9
*/
*{
    padding: 0;
    margin: 0;
}
body{
    color: #161616;
    font-family: 'Lato', sans-serif;
}
header{
    background-color: #ffffff;
}
.larg{
    width: 90%;
}
.header{
    width: 90%;
    height: 120px;
    line-height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    font-weight: bolder;
    font-size: 2.6em;
}
.header-logo span{
    margin: 10px;
}
.header-icons {
    margin-top: 18px;
}
.header-icons img{
    margin: 0 15px;
}
.banner{
    width: 100%;    
    box-shadow: 0 0 3px 0 #A5A1A1;
}
.banner img{
    width: 100%;
    height: 100%;
    margin: auto;
    
}
.banner-prod{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    line-height: 100px;
    font-weight: normal;
    margin: auto;
}
.promocao{
    font-weight: bolder;
    font-size: 1.6em;
}
.produtos{
    font-weight: bolder;
    font-size: 1.3em;
}
.catalogo{
    display: flex;
    
}















































@media(max-width: 800px){

    .header{
        width: 90%;
        height: 80px;
        line-height: 60px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-logo{
        font-weight: bolder;
        font-size: 1.3em;
    }
    .header-logo img{
        height: 20px;
    }
    .header-logo span{
        margin: 5px;
    }
    .header-icons {
        margin-top: 8px;
    }
    .header-icons img{
        height: 20px;
        margin: 0 5px;
    }
    .banner{
        width: 100%;
        overflow: hidden;
    }
    .banner img{
        height: 187.5px;
    }
    .banner-prod{
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        font-weight: normal;
        margin: auto;
    }
    .promocao{
        font-weight: bolder;
        font-size: 1em;
    }
    .produtos{
        font-weight: bolder;
        font-size: .8em;
    }


}
@media(max-width: 500px){
    .banner img{
        transform: scaleX(2);
        height: 187.5px;
    }
}