/*
Verde: #5CA720
Preto: #161616
Cinza (linhas divisórias): #A5A1A1
Cinza (background do footer): #F9F9F9
*/
*{
    padding: 0;
    margin: 0;
}
body{
    color: #161616;
    font-family: 'Lato', sans-serif;
}
header{
    background-color: #ffffff;
}
.header{
    width: 90%;
    height: 120px;
    line-height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    font-weight: bolder;
    font-size: 2.6em;
}
.header-logo span{
    margin: 20px;
}
.header-icons {
    margin-top: 18px;
}
.header-icons img{
    margin: 0 15px;
}
